nav {
    padding: 0 25px;
    height: $navbar-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $white;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 4px 26px rgba(200, 200, 200, 0.55);
    @include large-mobile {
        padding: 0 10px;
    }
    .navbar-brand {
        @include flex-center-center;
        width: 150px;
        height: 42px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .navbar-nav {
        list-style: none;
        display: flex;
        transition: all 0.8s ease;
        .navbar-closer {
            @include navbar-toggler;
            position: absolute;
            top: 23px;
            right: 25px;
            display: none;
        }
        @include labtop {
            // display: none;
            flex-direction: column;
            justify-content: space-evenly;
            position: fixed;
            background-color: rgba(255, 255, 255, 0.99);
            width: 100%;
            top: -1000px;
            left: 0;
            z-index: 11;
            height: 100%;

            &.show {
                display: flex;
                top: 0;
            }

            .navbar-closer {
                display: flex;
            }
        }
        .nav-item {
            margin: 0 12px;
            .nav-link {
                flex-direction: column;
                @include flex-center-center;
                text-decoration: none;
                font-weight: 500;
                color: $grey-300;
                &.active {
                    font-weight: 600;
                    color: $primary-900;
                }
                .navbar-icon {
                    width: 30px;
                    height: 30px;
                    margin-bottom: 8px;
                    @include labtop {
                        margin-bottom: 0;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .title {
                    font-size: 16px;
                }
                @include labtop {
                    width: 200px;
                    margin: 0 auto;
                    flex-direction: row;
                    justify-content: flex-start;

                    .title {
                        margin-left: 20px;
                        font-size: 26px;
                    }
                }

                &:hover {
                    color: $primary-900;
                }
            }
        }
    }
    .navbar-right-buttons {
        @include flex-center-center;
        position: relative;

        .icon-button {
            @include icon-button;
            margin: 0 8px;

            position: relative;
            width: 36px;
            height: 36px;
            .icon {
                width: 33px;
                height: 33px;
            }
            .count {
                @include flex-center-center;
                position: absolute;
                background-color: $primary-900;
                width: 20px;
                height: 20px;
                border-radius: 10px;
                color: $white;
                font-size: 10px;
                left: 19px;
                top: 0px;
            }
        }

        .profile-menu {
            background-color: transparent;
            border: none;
            margin-left: 10px;
            cursor: pointer;
            .profile-image {
                border: 2px solid $primary-900;
                width: 42px;
                height: 42px;
                border-radius: 22px;
            }
        }
        .profile-menu-container {
            transition: all 0.5s ease;
            width: 320px;
            position: absolute;
            z-index: 4;
            top: -500px;
            right: 30px;
            padding: 0 15px;
            // display: none;
            @include large-mobile{
                width:260px;
                right: 40px;
            }

            &.show {
                top: 56px;
                // display: flex;
            }
            ul {
                width: 100%;
            }
            li {
                cursor: pointer;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 14px 0;
                &:not(:last-child) {
                    border-bottom: 2px solid $grey-50;
                }

                .icon {
                    width: 22px;
                    height: 22px;
                }
                .text {
                    margin-left: 8px;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 16.8px;
                    color: $grey-500;
                    &.logout {
                        color: $error-300;
                    }
                }

                .user-container {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    .profile-img {
                        width: 42px;
                        height: 42px;
                        border-radius: 22px;
                        &.online {
                            border: 1px solid $primary-900;
                        }
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .user-info {
                        margin-left: 10px;
                        .name {
                            font-size: 14px;
                            font-weight: 700;
                            color: $black;
                        }
                        .job {
                            font-size: 12px;
                            font-weight: 400;
                            margin-top: 4px;
                            line-height: 14.63px;
                            color: $grey-400;
                        }
                    }
                }
            }
            .language-container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                .language-switcher {
                    @include flex-center-center;
                    .divieder {
                        width: 1px;
                        height: 19px;
                        display: block;
                        margin: 0 6px;
                        background-color: $grey-200;
                    }
                    .title {
                        font-family: "Cairo";
                        color: $black;
                        font-size: 14px;
                    }
                    .flag {
                        margin-top: 2px;
                    }
                }
            }

            .mode-container {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .mode-switcher {
                    width: 30px;
                    height: 19px;
                    background-color: $primary-900;
                    border-radius: 15px;
                    position: relative;
                    .toggler {
                        width: 15px;
                        height: 15px;
                        background-color: $white;
                        border-radius: 50%;
                        margin: 2px;
                        position: absolute;
                        right: 0;
                    }
                }
            }
        }
        .navbar-toggler {
            @include navbar-toggler;
            // background-color: transparent;
            margin-left: 12px;
            display: none;
            @include labtop {
                display: flex;
            }
        }
    }
}
