$base-bg: rgba(253, 253, 253, 1);

$white: #ffffff;

$grey-50: rgba(246, 246, 246, 1);

$grey-200: rgba(230, 234, 239, 1);
$grey-300: rgba(195, 197, 200, 1);
$grey-400: rgba(134, 146, 166, 1);
$grey-500: rgba(105, 111, 121, 1);
$grey-800: rgba(51, 51, 51, 1);
$grey-900: rgba(30, 30, 30, 1);

$warning-300: rgba(255, 203, 49, 1);

$primary-900: rgba(29, 191, 115, 1);

$black: rgba(0, 0, 0, 1);
